
<p><%= @recipe.ingredients %></p>
<form action="/recipes/<%= @recipe.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <input type="text" name="name" value="Recipe Name">
    <input type="text" name="ingredients" value="Ingredients">
    <input type="text" name="cook_time" value="Cooking Time">
    <input type="submit" value="Update">
</form>
