<h1>New Recipe</h1>
<form action="/recipes" method="post">
    <input type="text" name="name" value="Recipe Name">
    <input type="text" name="ingredients" value="Ingredients">
    <input type="text" name="cook_time" value="Cooking Time">
    <input type="submit" value="Submit">
</form>

<a href="/recipes">Go Back to List of Recipes</a>
